<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="container mt-5 dto_form_border">
          <h2 class="text-center" style="color:grey">DTO Payments</h2>
          <form [formGroup]="paymentForm">
            <div class="form-group">
              <label>Credit Card Number</label>
              <input [class.is-invalid]="creditCardNumber.invalid && creditCardNumber.touched" formControlName="creditCardNumber" type="text" class="form-control">
              <small [class.d-none]="creditCardNumber.valid || creditCardNumber.untouched" class="text-danger">Credit Card Number required</small>
            </div>
            <div class="form-group">
              <label>Card Holder Name</label>
              <input [class.is-invalid]="cardHolderName.invalid && cardHolderName.touched" formControlName="cardHolderName" type="text" class="form-control">
              <small [class.d-none]="cardHolderName.valid || cardHolderName.untouched" class="text-danger">Card Holder required</small>
            </div>
        
            <div class="form-group">
              <label>Expiration Date</label>
              <input [class.is-invalid]="expirationDate.invalid && expirationDate.touched" formControlName="expirationDate" type="date" class="form-control">
              <div *ngIf="expirationDate.invalid && expirationDate.touched">
                <small *ngIf="expirationDate.errors?.forbiddenName" class="text-danger">Date must greater than Current Date</small>
                <small *ngIf="expirationDate.errors?.required" class="text-danger">Expiration Date required</small>
              </div>
            </div>
            <div class="form-group">
              <label>Security Code</label>
              <input [class.is-invalid]="securityCode.invalid && securityCode.touched" formControlName="securityCode" type="text" class="form-control">
              <div *ngIf="securityCode.invalid && securityCode.touched">
                <small *ngIf="securityCode.errors?.maxlength" class="text-danger">Maximum 3 Digits Required</small>
                <small *ngIf="securityCode.errors?.minlength" class="text-danger">Minimum 3 Digits Required</small>
              </div>
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input [class.is-invalid]="amount.invalid && amount.touched" formControlName="amount" type="number" class="form-control">
            
               <div *ngIf="amount.invalid && amount.touched">
                 <small *ngIf="amount.errors?.required" class="text-danger">Amount is required</small>
                 <small *ngIf="amount.errors?.min" class="text-danger">Amount Should more than 0</small>
               </div>
            </div>
            <button [disabled]="!paymentForm.valid" (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
            <button routerLink="/" class="btn btn-primary ml-3">Back</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    